$font-prefix: "~@ibm/plex";
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';

ul.TrackList {
    width: 400px;
    height: 400px;
    overflow-y: auto;
    padding: 0px;
    direction: rtl;
    &::-webkit-scrollbar-track{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        background-color: transparent;
    }

    &::-webkit-scrollbar{
        width: 5px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb{
        width: 20px;
        border-radius: 10px;
        background-color: #555;
    }

    &::-webkit-scrollbar-track::end {
        background-color: transparent;
        margin-bottom: 10px; 
    }
    
    &::-webkit-scrollbar-track::start {
        background-color: transparent;
        margin-top: 10px;
    }
    div.track {
        height: 50px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 60px 2fr 1fr;
        direction: ltr;
        //box-sizing: border-box;
        border-bottom: 1px solid rgba(white, .1);
        background: white;
        color: black;
        //font-style: normal;
        //font-weight: bold;
        .cover {
            grid-column: 1;
            grid-row: 1 / 3;
            display: flex;
            img {
                $size: 40px;
                width: $size;
                height: $size;
                margin: 5px auto;
            }
        }
        
        
        .name {
            grid-column: 2;
            grid-row: 1;
            width: 250px;
            height: min-content;
            padding: 9px 0 0 0;
            margin: 0 5px 0 5px;
            font-family: IBM Plex Mono;
            font-weight: bold;
            font-size: 16px;
            line-height: 80%;
        }

        .artists {
            grid-column: 2;
            grid-row: 2;
            width: 200px;
            height: min-content;
            padding: 2px 0 2px 0;
            margin: 0 5px 0 5px;
            font-family: IBM Plex Sans;
            font-weight: 600;
            font-size: 12px;
            color: #808080;
        }

        .duration {
            grid-column: 4;
            grid-row: 1 / 3;
            height: min-content;
            margin-left: auto;
            align-self: center;
            font-family: IBM Plex Sans;
            font-weight: normal;
            font-size: 15px;
            margin: 5px auto;
            color: #808080;
        }
    }
}